/* DESIGN SYSTEM
  - Global rules, including custom variables
  - Utility classes
  - Primary structure & content

  - Media queries
*/

:root {
  --violet: #755CDE;
  --yellow: #F6A560;
  --pink: #F39E9E;
  --salmon: #EB7565;
  --cyan: #61C4B7;
  --maroon: #552049;
  --almost-black: #030303;
  --gray: #7A746E;
  --almost-white: #FFF7F0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  --transition-delay: 0.5s;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--almost-black);
}
h1 {
  font-size: 3.5rem;
  line-height: 4.38rem;
  margin-bottom: 1.44rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 3.19rem;
  margin-bottom: 2.13rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 3.5rem;
}
p {
  font-size: 1.13rem;
  line-height: 1.75rem;
  color: var(--gray);
}
button {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--almost-white);
  padding-block: 0.88rem;
  border-radius: 1.75rem;
  width: 14.25rem;
}
.btn-primary {
  background-color: var(--almost-black);
}
.btn-primary:hover {
  background-color: var(--violet);
}
.btn-secondary {
  background-color: var(--salmon);
}
.btn-secondary:hover {
  background-color: var(--yellow);
}
.slide-control {
  width: unset;
  padding: 1.5rem;
  border-radius: 50%;
  margin-inline: 0.5rem;
}
.slide-control > img {
  width: 1rem;
  height: 1rem;
}
/* Utility classes */
.inline-padding {
  padding-inline: 2.44rem;
  max-width: 1110px;
  margin-inline: auto;
}
.flex {
  display: flex;
}

/* Primary structure & content */
html, body {
  background-color: var(--almost-white);
  overflow-x: hidden;
}
header {
  margin-bottom: 5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.13rem;
  margin-bottom: 4.13rem;
}
#logo {
  width: 4rem;
}
.hero {
  text-align: center;
  max-width: min(47rem, 93vw);
  margin-inline: auto;
}
.hero p {
  max-width: min(45rem, 80vw);
  margin-inline: auto;
}
main {
  margin-bottom: 5.5rem;
  position: relative;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  margin-bottom: 5.5rem;
}
.grid-container div:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-container div:nth-child(n+4) {
  grid-column: span 2;
}
.grid-container div:nth-last-child(-n+2) {
  grid-column: span 3;
  margin-top: 7rem;
}
.grid-container div:nth-child(5) {
  grid-column: 5 / span 2;
  grid-row: 1;
}
.grid-container div:nth-child(1) {
  background-color: var(--violet);
}
.grid-container div:nth-child(2) {
  background-color: var(--yellow);
}
.grid-container div:nth-child(3) {
  background-color: var(--pink);
}
.grid-container div:nth-child(4) {
  background-color: var(--salmon);
}
.grid-container div:nth-child(5) {
  background-color: var(--cyan);
}
.grid-container div:nth-child(6) {
  background-color: var(--maroon);
}
.card {
  border-radius: 0.5rem;
  width: 100%;
  min-height: 9.88rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  width: 50%;
  min-width: 4rem;
  max-width: 9.5rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  align-self: end;
}
.card p {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--almost-white);
}
#headshot {
  width: 100%;
  max-width: 27.81rem;
  min-width: 22.75rem;
  justify-self: center;
  align-self: start;
  padding: 0;
}
.about {
  justify-content:center;
}
.about > p {
  color: var(--gray);
  padding: 0;
  margin-bottom: 2rem;
}
.carousel {
  /* Extremely large width to ensure no squeezing of carousel */
  width: 250rem;
  height: 22.5rem;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin-bottom: 3.5rem;
}
.carousel-inner {
  display: grid;
  grid-template-columns: repeat(5, fit-content(540px));
  position: relative;
  margin-inline: auto;
}
.carousel-image {
  padding-inline: 0.9rem;
  position: relative;
  grid-row: 1;
  transition: transform var(--transition-delay) ease;
}
.carousel-image > img {
  border-radius: 0.5rem;
}
.carousel-buttons {
  text-align: center;
}
.footer-flex {
  display: flex;
  align-items: center;
  background-color: var(--almost-black);
  padding-block: 5rem;
  padding-left: 4.06rem;
  padding-right: 5.94rem;
  gap: calc(0.125 * 100vw);
  border-radius: 0.5rem;
  margin-bottom: 3.5rem;
}
.footer-flex * {
  color: var(--almost-white);
}

/* Media queries */
@media (max-width: 955px) {
  .footer-flex {
    padding-left: 2rem;
    padding-right: 3rem;
    gap: calc(0.1 * 100vw);
  }
}
@media (max-width: 840px) {
  #headshot {
    transform: translateX(min(0px, calc(50vw - 4.88rem - 22.75rem)));
  }
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .about > p {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .inline-padding {
    padding-inline: 5%;
  }
  header {
    margin-bottom: 4rem;
  }
  nav {
    margin-bottom: 4rem;
  }
  main {
    margin-bottom: 7.5rem;
  }
  .hero {
    max-width: min(38rem, 93vw);
  }
  h1 {
    font-size: 2.75rem;
    line-height: 3.47rem;
    margin-bottom: 1.63rem;
  }
  #headshot {
    transform: translateX(-5.25rem);
  }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-container div:nth-child(5) {
    grid-column: span 2;
    grid-row: unset;
  }
  .grid-container div:nth-last-child(-n+2) {
    grid-column: span 2;
  }
  .footer-flex {
    flex-direction: column;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    padding-inline: 9.75vw;
    gap: 1.63rem;
  }
}
@media (max-width: 640px) {
  .grid-container div:nth-last-child(-n+2) {
    grid-column: span 4;
    margin-top: 6.25rem;
  }
  .grid-container div:last-child {
    margin-top: 2.5rem;
  }
  #headshot {
    margin-inline: auto;
    max-width: 80vw;
    min-width: unset;
    transform: unset;
  }
  .about {
    text-align: center;
  }
  .about button {
    margin-inline: auto;
  }
  .footer-flex {
    padding-inline: 8.66vw;
  }
}
@media (max-width: 575px) {
  button {
    font-size: 0.88rem;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    border-radius: 1.38rem;
    width: 11rem;
  }
  .inline-padding {
    padding-inline: 4.5%;
  }
  header {
    margin-bottom: 3rem;
  }
  nav {
    padding-top: 1.63rem;
    margin-bottom: 2rem;
  }
  #logo {
    width: 3rem;
  }
  .hero {
    padding-inline: 2.5rem;
  }
  h1 {
    font-size: 2.25rem;
    line-height: 2.84rem;
    margin-bottom: 1rem;
  }
  .hero > p {
    font-size: 1rem;
    line-height: 1.63rem;
    padding-inline: 0.25rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-container div:nth-last-child(-n+2) {
    grid-column: span 2;
  }
  .footer-flex {
    padding-block: 3rem;
    padding-inline: 8.1vw;
  }
}
@media (max-width: 375px) {
  .inline-padding {
    padding-inline: 1rem;
  }
  header {
    margin-bottom: 2rem;
  }
  nav {
    padding-top: 1.13rem;
  }
  .footer-flex {
    padding-inline: 6.4vw;
  }
}