/* DESIGN SYSTEM
  - Global rules, including custom variables
  - Utility classes
  - Primary structure & content

  - Media queries
*/

:root {
  --violet: #755CDE;
  --yellow: #F6A560;
  --pink: #F39E9E;
  --salmon: #EB7565;
  --cyan: #61C4B7;
  --maroon: #552049;
  --almost-black: #030303;
  --gray: #7A746E;
  --almost-white: #FFF7F0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  --transition-delay: 0.5s;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: var(--almost-black);
}
h1 {
  font-size: 3.5rem;
  line-height: 4.38rem;
  margin-bottom: 1.44rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 3.19rem;
  margin-bottom: 2.13rem;
}
h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 3.5rem;
}
p {
  font-size: 1.13rem;
  line-height: 1.75rem;
  color: var(--gray);
}
button {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.75rem;
  color: var(--almost-white);
  padding-block: 0.88rem;
  border-radius: 1.75rem;
  width: 14.25rem;
}
.btn-primary {
  background-color: var(--almost-black);
}
.btn-primary:hover {
  background-color: var(--violet);
}
.btn-secondary {
  background-color: var(--salmon);
}
.btn-secondary:hover {
  background-color: var(--yellow);
}
.slide-control {
  width: unset;
  padding: 1.5rem;
  border-radius: 50%;
  margin-inline: 0.5rem;
}
.slide-control > img {
  width: 1rem;
  height: 1rem;
}
/* Utility classes */
.inline-padding {
  padding-inline: 10.31rem;
}
.flex {
  display: flex;
}

/* Primary structure & content */
body {
  background-color: var(--almost-white);
  overflow-x: hidden;
}
header {
  margin-bottom: 5rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.13rem;
  margin-bottom: 4.13rem;
}
#logo {
  width: 4rem;
}
.hero {
  text-align: center;
  padding-inline: 22%;
}
.hero > p {
  padding-inline: 2rem;
}
main {
  margin-bottom: 5.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  margin-bottom: 5.5rem;
}
.grid-container div:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-container div:nth-child(n+4) {
  grid-column: span 2;
}
.grid-container div:nth-last-child(-n+2) {
  grid-column: span 3;
  margin-top: 7rem;
}
.grid-container div:nth-child(5) {
  grid-column: 5 / span 2;
  grid-row: 1;
}
.grid-container div:nth-child(1) {
  background-color: var(--violet);
}
.grid-container div:nth-child(2) {
  background-color: var(--yellow);
}
.grid-container div:nth-child(3) {
  background-color: var(--pink);
}
.grid-container div:nth-child(4) {
  background-color: var(--salmon);
}
.grid-container div:nth-child(5) {
  background-color: var(--cyan);
}
.grid-container div:nth-child(6) {
  background-color: var(--maroon);
}
.card {
  border-radius: 0.5rem;
  width: 100%;
  min-height: 9.88rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  width: 50%;
  max-width: 9.5rem;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  align-self: end;
}
.card p {
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--almost-white);
}
#headshot {
  width: 100%;
  max-width: 27.81rem;
  justify-self: center;
  align-self: start;
  padding: 0;
}
.about {
  justify-content:center;
}
.about > p {
  color: var(--gray);
  padding: 0;
  margin-bottom: 2rem;
}
.carousel {
  width: calc(34.95rem * 5);
  /* width: 80%; */
  height: 22.5rem;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-49.5%);
  margin-bottom: 3.5rem;
}
.carousel-inner {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}
.carousel-image {
  height: 22.5rem;
  height: 10rem;
  padding-inline: 0.9rem;
  position: relative;
  grid-row: 1;
  transition: transform var(--transition-delay) ease;
}
.carousel-image > img {
  border-radius: 0.5rem;
}
.carousel-buttons {
  text-align: center;
}
.footer-flex {
  display: flex;
  align-items: center;
  background-color: var(--almost-black);
  padding-block: 5rem;
  padding-left: 4.06rem;
  padding-right: 5.94rem;
  gap: calc(0.125 * 100vw);
  border-radius: 0.5rem;
  margin-bottom: 3.5rem;
}
.footer-flex * {
  color: var(--almost-white);
}

/* Media queries */
@media (max-width: 768px) {
  .inline-padding {
    padding-inline: 5%;
  }
  header {
    margin-bottom: 4rem;
  }
  nav {
    margin-bottom: 4rem;
  }
  .hero {
    padding-inline: 6.1rem;
  }
  h1 {
    font-size: 2.75rem;
    line-height: 3.47rem;
    margin-bottom: 1.63rem;
  }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-container div:nth-child(5) {
    grid-column: span 2;
    grid-row: unset;
  }
  .grid-container div:nth-last-child(-n+2) {
    grid-column: span 2;
  }
}
@media (max-width: 575px) {
  button {
    font-size: 0.88rem;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    border-radius: 1.38rem;
    width: 11rem;
  }
  .inline-padding {
    padding-inline: 4.5%;
  }
  header {
    margin-bottom: 3rem;
  }
  nav {
    padding-top: 1.63rem;
    margin-bottom: 2rem;
  }
  #logo {
    width: 3rem;
  }
  .hero {
    padding-inline: 2.5rem;
  }
  h1 {
    font-size: 2.25rem;
    line-height: 2.84rem;
    margin-bottom: 1rem;
  }
  .hero > p {
    font-size: 1rem;
    line-height: 1.63rem;
    padding-inline: 0.25rem;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 375px) {
  .inline-padding {
    padding-inline: 1rem;
  }
  header {
    margin-bottom: 2rem;
  }
  nav {
    padding-top: 1.13rem;
  }
}

/* Tablet Layout */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr 2fr;
  }

  .item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .item-2,
  .item-3 {
    grid-row: 1 / 2;
  }

  .item-4,
  .item-5,
  .item-6 {
    grid-column: auto;
    grid-row: auto;
  }
}

/* Mobile Layout */
@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item-1,
  .item-4,
  .item-5,
  .item-6 {
    grid-column: auto;
    grid-row: auto;
  }

  .item-2,
  .item-3 {
    grid-column: auto;
    grid-row: auto;
  }

  .container::after {
    content: "";
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}